@using Allors.Web.Mvc.Models
@model dynamic

@foreach (var property in ViewData.ModelMetadata.Properties.Where(p => p.ShowForEdit))
{
    if (property.TemplateHint == "HiddenInput")
    {
        @Html.Hidden(property.PropertyName)
    }
    else
    {
        <div class="form-group">
            @Html.Label(property.PropertyName, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @if (property.ModelType == typeof(Select))
                {
                    @Html.Editor(property.PropertyName, "BootstrapSelect")
                }
                else if (property.ModelType == typeof(MultipleSelect))
                {
                    @Html.Editor(property.PropertyName, "BootstrapMultipleSelect")
                }
                else
{
                    @Html.Editor(property.PropertyName, new { htmlAttributes = new { @class = "form-control", placeholder = ViewData.ModelMetadata.Watermark } })
                }
                @Html.ValidationMessage(property.PropertyName)
            </div>
        </div>
    }
}