@using Allors.Web.Mvc
<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title - Allors</title>
    @Styles.Render("~/bundles/css/default")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/js/default/pre")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Allors Base", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_NavbarPartial", Menus.Get("main").For(ViewContext))
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <div class="container">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Allors</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/js/default/post")
    @RenderSection("scripts", required: false)

    @section Scripts {
        <script>
        @* Disable client site validation for non en-us locales *@
        $(function () {
            if ($.validator && $.validator.methods) {
                var lang = $("html:lang(en-us)");
                if (lang.length === 0) {
                    $.validator.methods.number = function (){
                        return true;
                    }
                    $.validator.methods.min = function () {
                        return true;
                    }
                    $.validator.methods.max = function () {
                        return true;
                    }
                    $.validator.methods.range = function () {
                        return true;
                    }
                    $.validator.methods.date = function () {
                        return true;
                    }
                }
            }
        });
        </script>
    }
</body>
</html>
