@model Allors.Web.Mvc.MenuItemForUser

@{
    var active = Model.IsActive ? "active" : null;
}

@if (Model.IsDivider)
{
    <li class="divider"></li>
}
else if(Model.IsHeader)
{
    <li class="dropdown-header">
        @Model.Text
    </li>
}
else if (Model.HasChildren)
{
    <li class="@active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Model.Text <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            @foreach (var menuItem in Model)
            {
                @Html.Partial("_NavbarItemPartial", menuItem)
            }
        </ul>
    </li>
}
else
{
    <li class="@active">
        @Html.ActionLink(Model.Text, Model.ActionName, Model.ControllerName, null, null)
    </li> 
}
