@using Allors.Web.Mvc.Helpers
@using Areas.Default.Tests.OrganisationMvc
@model Edit
@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <br/><br/>
    @using (Html.BeginForm("Edit", "Organisation", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h2>Edit organisation</h2>
        <hr/>
        @Html.ValidationSummary("", new {@class = "text-danger"})
        @Html.Allors().EditorForModel()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success" name="command" value="@Command.Save">Save</button>
                <button type="submit" class="btn btn-danger" name="command" value="@Command.Cancel">Cancel</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        @* Disable Number Validation for non en-us *@
        $(function () {
            if ($.validator && $.validator.methods) {
                var lang = $("html:lang(en-us)");
                if (lang.length === 0) {
                    $.validator.methods.number = function (){
                        return true;
                    }
                }
            }
        });
    </script>
}
